@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --clr-emerald: #10bd5e;
  --clr-light-green: #b6f099;
  --clr-dark-red: #cc1006;
  --clr-amber: #ffbe0bff;
  --clr-rose: #ff006eff;
  --clr-blue-violet: #8338ecff;
  --clr-azure: #3a86ffff;
  --clr-orange: #fb5607ff;
  --clr-folly: #ff0054ff;
  --clr-melon: #ffa69eff;
  --clr-lite-gray: #e9ecefff;
  --clr-dark-gray: #595959ff;
}
body {
  /* background-color: var(--clr-amber); */
  font-family: "Roboto", sans-serif;
  background-color: #fbab7e;
  background-image: linear-gradient(66deg, #ffbe0bff 0%, #f7ce50 100%);
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1rem;
  width: 28rem;
  min-height: 22rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
}

.info-container {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.score-container {
  font-size: 1.25rem;
}

.score {
  font-weight: 900;
}

.weapons-container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.btn-weapons {
  width: 7rem;
  height: 7rem;
  font-size: 3.5rem;
  color: var(--clr-light-green);
  background-color: var(--clr-blue-violet);
  border-radius: 50%;

  border: none;
  cursor: pointer;
}

.results-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  display: none;
}

.result {
  font-weight: 900;
}

.game-result {
  width: 12rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 900;
}

.won {
  background-color: var(--clr-light-green);
  color: var(--clr-emerald);
}

.loss {
  background-color: var(--clr-melon);
  color: var(--clr-dark-red);
}

.draw {
  background-color: var(--clr-dark-gray);
  color: var(--clr-lite-gray);
}
